
<div class="contaner">
    <div class="welcomeMes">
    <h1>Welcome#index</h1>
    <p>Find me in app/views/welcome/index.html.erb</p>
    </div>

    <div>
        <img src="https://www.google.com/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwi72ILLlbzaAhWPJ1AKHTNpAx8QjRx6BAgAEAU&url=https%3A%2F%2Finsights.dice.com%2F2017%2F07%2F31%2Fruby-rails-trouble%2F&psig=AOvVaw0KUW1f64B-IoLIcslHDTMZ&ust=1523877841937745" alt="ruby img">
    </div>
</div>
